#titre_p2{
    text-align: center;
    color: #000000;
    
    font-family: Tommy_Regular;
    font-size: 35px;
    padding: 150px;
}

.before_container{
    background-image: url(../images/bg_2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    width: 100%;
    border-top: 10px solid coral;
    border-bottom: 10px solid coral;


    
    
}
.before_container h3{
    text-align: center;
    font-size: 25px;

    font-family: Tommy_Regular;
    overflow-wrap: break-word;
    color: #ffffff;
    padding-top: 250px;
    padding-bottom: 250px;
    
}


.container_parcours{
    width: 100%;
    display: flex;
    flex-flow: row column-reverse;
}


.parcours{
    
    width: 100%;
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 40px;

}

.parcours > section{
    width: 550px;
    margin: 2%;
    border-radius: 10px;
    height: auto;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    text-align: center;
    justify-items: center;
    background-color: #000000;
    border: 2px solid grey;
    

    
}

@media screen and (max-width:1200px){

    .parcours > section{
        width: 800px;
    }
}


section > img{
    margin-top: 15px;
    margin-bottom: 15px;
    width: 100%;
    height: 70%;  
}
section >h3{
    font-family: Tommy_Regular;
    color: #ffffff;
}
.parcours > h3{
    
    font-family:Tommy_Regular;
    color: #000000;
    
}
section > p{

    font-family:Tommy_Regular;

    
}

.parcours section:hover{

    box-shadow:  8px 5px rgba(33,33,33,.2);
    filter: brightness(0.9);
    z-index: 1;
    
}

section > a{
    text-decoration: none;
    font-family: Tommy_Regular;
    color: #000000;
}

section > a:visited{
    color: #000000;
}

.sect1{
    text-decoration: none;
    background-image:url(../images/Trace_1.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 500px;
}

.sect1 h3{
    color: #000000;
    margin-top:0px;
    padding: 25px;
    background-color: coral;
    border-radius:10px 10px 0 0;
    margin-bottom: 400px;
    
    
}


.sect1 p{

    margin-bottom:0px;
    padding: 25px;
    background-color: coral;
    border-radius:0 0 10px 10px;
    
    
}

.sect2{

    background-image:url(../images/Trace_2.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 500px;
}

.sect2 h3{
    color: #000000;
    margin-top:0px;
    padding: 25px;
    background-color: coral;
    border-radius:10px 10px 0 0;
    margin-bottom: 400px;
    
}

.sect2 p{
    margin-bottom:0px;
    padding: 25px;
    background-color: coral;
    border-radius:0 0 10px 10px;
}
/*
.sect2 a{
    text-decoration: none;

}
.sect2 a:visited{
    color: #000000;
}
*/
.sect3 {

    background-image:url(../images/trace_3.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 500px;
}

.sect3 h3{
    color: #000000;
    margin-top:0px;
    padding: 25px;
    background-color: coral;
    border-radius:10px 10px 0 0;
    margin-bottom: 400px;
    
}

.sect3 p{
    margin-bottom:0px;
    padding: 25px;
    background-color: coral;
    border-radius:0 0 10px 10px;
    
    
}

.sect4 {

    background-image:url(../images/baptiste_ride.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 500px;
}

.sect4 h3{
    color: #000000;
    margin-top:0px;
    padding: 25px;
    background-color: coral;
    border-radius:10px 10px 0 0;
    margin-bottom: 400px;
    
}

.sect4 p{
    margin-bottom:0px;
    padding: 25px;
    background-color: coral;
    border-radius:0 0 10px 10px;
    
    
}

.sect5 {

    background-image:url(../images/baptiste_ride_2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 500px;
}

.sect5 h3{
    color: #000000;
    margin-top:0px;
    padding: 25px;
    background-color: coral;
    border-radius:10px 10px 0 0;
    margin-bottom: 400px;
    
}

.sect5 p{
    margin-bottom:0px;
    padding: 25px;
    background-color: coral;
    border-radius:0 0 10px 10px;
    
    
}

.sect6 {

    background-image:url(../images/baptiste_ride_4.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 500px;
}

.sect6 h3{
    color: #000000;
    margin-top:0px;
    padding: 25px;
    background-color: coral;
    border-radius:10px 10px 0 0;
    margin-bottom: 400px;
    
}

.sect6 p{
    margin-bottom:0px;
    padding: 15px;
    background-color: coral;
    border-radius:0 0 10px 10px;
    
    
}

.sect7 {

    background-image:url(../images/baptiste_ride_3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center bottom;
    width: 100%;
    height: 500px;
}

.sect7 h3{
    color: #000000;
    margin-top:0px;
    padding: 25px;
    background-color: coral;
    border-radius:10px 10px 0 0;
    margin-bottom: 400px;
    
}

.sect7 p{
    margin-bottom:0px;
    padding: 25px;
    background-color: coral;
    border-radius:0 0 10px 10px;
    
    
}


.sect8 {

    background-image:url(../images/trace_6.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center ;
    width: 100%;
    height: 500px;
}

.sect8 h3{
    color: #000000;
    margin-top:0px;
    padding: 25px;
    background-color: coral;
    border-radius:10px 10px 0 0;
    margin-bottom: 400px;
    
}

.sect8 p{
    margin-bottom:0px;
    padding: 25px;
    background-color: coral;
    border-radius:0 0 10px 10px;
    
    
}


.after_section{
    border-top: 10px solid coral;
    width: 100%;

    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
}


.after_section h1{

    font-family: Tommy_Regular;
    margin-top: 40px;
    margin-bottom:40px;

    border-bottom : 2px solid coral;
    text-align: center;
    
}

.after_section p{

    font-family: Tommy_Regular;
    text-align: center;
    font-size: 25px;

    margin-bottom:40px;

    border-bottom : 2px solid coral;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 40px;
    
}

.after_section table{
    
    margin-bottom: 40px;
}

.after_section table,th,tr,td{

    border:1px solid black;
    width: 500px;
    text-align: center;
    font-size: 20px;
    font-family: Tommy_Regular;
    border-collapse: collapse;

}

.after_section th{

    background-color: coral;
}

.after_section img{

    width: 15px;
    height: 15px;
}

.after_section tr{


    background-color: rgb(172, 165, 165);
}
